@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display","JetBrainsMono Nerd Font" ,Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-height: 0;
}

/* 
window#waybar {

    background: @transparent;
    color: @on_surface;
 
}
window#waybar {
    background: rgba(20, 20, 30, 0.55);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}*/
window#waybar {
    background: rgba(20, 20, 30, 0.25);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}


/* {
    background: @primary;
    color: @inverse_primary;
    padding: 5px 15px;
    border-radius: 100px;
    margin: 5px;
} */

tooltip {
	border-radius: 12px;
    padding: 8px;
  background: @background;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @inverse_primary;
}

#workspaces button {
    min-width: 20px;
    min-height: 0;

    padding: 5px 10px;
    margin: 5px;

    border-radius: 100px;

    background: @primary;
    color: @inverse_primary;

    border: 1px solid rgba(0, 0, 0, 0.18);

    transition: all 0.2s ease;
}

#workspaces button.active {
    min-width: 35px;   /* increase only width */

    padding: 5px 10px; /* EXACTLY SAME AS NORMAL */
    margin: 5px;       /* EXACTLY SAME AS NORMAL */

    background: @primary;
    color: @inverse_primary;
}
/*#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}*/
#custom-launcher {

font-family: "Symbols Nerd Font";
	padding: 4px 15px 6px 15px;

	margin: 5px;

	border-radius: 100px;

	background-color: @primary;

	color: @inverse_primary;

}
#custom-powerprofile{
font-family: "Symbols Nerd Font";
 padding: 5px 15px;
    margin:5px;
    border-radius: 100px;
    background-color: @primary;
    color:  @inverse_primary

}
#custom-stopwatch,
#clock,
#battery,
#pulseaudio,
#network
{
    font-family: "Symbols Nerd Font";
    padding: 5px 15px;
    margin:5px;
    border-radius: 100px;
    background-color: @primary;
    color:  @inverse_primary
}

/* #battery {
    background-color: #ffffff;
    color: black;
}

 #battery.charging {
    color: white;
    background-color: #26A65B;
}*/

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #ffb347;
    color: #121212;
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: white;

    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
